.location-map {
  width: 100%;
  height: 300px;
}

.location-map-wrapper {
  position: relative;
  margin-top: 10px;
}

.location-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}
